In [60]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from datetime import datetime,timedelta

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

In [61]:
flight_data = pd.read_csv('22_23.csv')

In [62]:
flight_data.head()
flight_data.columns

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,01-01-2022,"1,282.00",N4901U,IAD,23:10,00:01,70.00,76.00,51.00,23:55,6.00,23.00,0.00,6.00,0.00,22.00
1,UA,01-01-2023,604.00,N814UA,DEN,14:58,14:52,193.00,177.00,-6.00,14:48,4.00,0.00,0.00,0.00,0.00,0.00
2,UA,01-01-2023,"2,488.00",N38458,EWR,23:14,23:15,75.00,62.00,1.00,23:10,5.00,0.00,0.00,0.00,0.00,0.00
3,UA,01-01-2023,"2,645.00",N23721,ORD,23:57,23:47,107.00,100.00,-10.00,23:41,6.00,0.00,0.00,0.00,0.00,0.00
4,UA,01-02-2022,"1,282.00",N4901U,IAD,23:10,23:27,70.00,64.00,17.00,23:19,8.00,17.00,0.00,0.00,0.00,0.00

Index(['Carrier Code', 'Date (MM/DD/YYYY)', 'Flight Number', 'Tail Number',
       'Origin Airport', 'Scheduled Arrival Time', 'Actual Arrival Time',
       'Scheduled Elapsed Time (Minutes)', 'Actual Elapsed Time (Minutes)',
       'Arrival Delay (Minutes)', 'Wheels-on Time', 'Taxi-In time (Minutes)',
       'Delay Carrier (Minutes)', 'Delay Weather (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)'],
      dtype='object')

In [63]:
conditions = [
    (flight_data['Arrival Delay (Minutes)'] < -10),
    (abs(flight_data['Arrival Delay (Minutes)']) <= 10),
    (flight_data['Arrival Delay (Minutes)'] > 10) & (flight_data['Arrival Delay (Minutes)'] <= 30),
    (flight_data['Arrival Delay (Minutes)'] > 30)
]

classes = ['early', 'on-time', 'late', 'severely late']

flight_data['delay_class'] = np.select(conditions, classes)

flight_data.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),delay_class
0,UA,01-01-2022,"1,282.00",N4901U,IAD,23:10,00:01,70.00,76.00,51.00,23:55,6.00,23.00,0.00,6.00,0.00,22.00,severely late
1,UA,01-01-2023,604.00,N814UA,DEN,14:58,14:52,193.00,177.00,-6.00,14:48,4.00,0.00,0.00,0.00,0.00,0.00,on-time
2,UA,01-01-2023,"2,488.00",N38458,EWR,23:14,23:15,75.00,62.00,1.00,23:10,5.00,0.00,0.00,0.00,0.00,0.00,on-time
3,UA,01-01-2023,"2,645.00",N23721,ORD,23:57,23:47,107.00,100.00,-10.00,23:41,6.00,0.00,0.00,0.00,0.00,0.00,on-time
4,UA,01-02-2022,"1,282.00",N4901U,IAD,23:10,23:27,70.00,64.00,17.00,23:19,8.00,17.00,0.00,0.00,0.00,0.00,late

In [64]:
flight_data['Arrival Time'] = flight_data['Scheduled Arrival Time']
subset_data = flight_data.drop(['Carrier Code', 'Flight Number', 'Tail Number','Scheduled Elapsed Time (Minutes)', 
            'Actual Elapsed Time (Minutes)','Arrival Delay (Minutes)','Wheels-on Time', 'Taxi-In time (Minutes)',
            'Delay Carrier (Minutes)','Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)',
            'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)', 'Actual Arrival Time',
            'Scheduled Arrival Time'], axis = 1)

subset_data.head()

  Date (MM/DD/YYYY) Origin Airport    delay_class Arrival Time
0        01-01-2022            IAD  severely late        23:10
1        01-01-2023            DEN        on-time        14:58
2        01-01-2023            EWR        on-time        23:14
3        01-01-2023            ORD        on-time        23:57
4        01-02-2022            IAD           late        23:10

In [65]:
subset_data.dtypes

Date (MM/DD/YYYY)    object
Origin Airport       object
delay_class          object
Arrival Time         object
dtype: object

In [66]:
subset_data.isna().sum()

Date (MM/DD/YYYY)    2
Origin Airport       2
delay_class          0
Arrival Time         2
dtype: int64

In [67]:
subset_data = subset_data.dropna()

In [68]:
# Add day to dataset
for index, row in subset_data.iterrows():
    if "-" in row['Date (MM/DD/YYYY)']:
        subset_data.at[index, 'Day'] = datetime.strptime(row['Date (MM/DD/YYYY)'], "%d-%m-%Y").strftime('%A')
    else:
        subset_data.at[index, 'Day'] = datetime.strptime(row['Date (MM/DD/YYYY)'], "%m/%d/%Y").strftime('%A')

In [69]:
subset_data.head()

  Date (MM/DD/YYYY) Origin Airport    delay_class Arrival Time       Day
0        01-01-2022            IAD  severely late        23:10  Saturday
1        01-01-2023            DEN        on-time        14:58    Sunday
2        01-01-2023            EWR        on-time        23:14    Sunday
3        01-01-2023            ORD        on-time        23:57    Sunday
4        01-02-2022            IAD           late        23:10   Tuesday

In [70]:
airport_dummies = pd.get_dummies(subset_data['Origin Airport'], drop_first=True)

day_dummies = pd.get_dummies(subset_data['Day'], drop_first=True)

subset_data = pd.concat([subset_data, airport_dummies, day_dummies], axis=1)

In [71]:
subset_data = subset_data.drop(['Origin Airport', 'Day'], axis = 1)
subset_data.head()

,Date (MM/DD/YYYY),delay_class,Arrival Time,EWR,IAD,ORD,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,01-01-2022,severely late,23:10,0,1,0,0,1,0,0,0,0
1,01-01-2023,on-time,14:58,0,0,0,0,0,1,0,0,0
2,01-01-2023,on-time,23:14,1,0,0,0,0,1,0,0,0
3,01-01-2023,on-time,23:57,0,0,1,0,0,1,0,0,0
4,01-02-2022,late,23:10,0,1,0,0,0,0,0,1,0

In [72]:
def standardize_time_dataset(df, col):
    for index, row in df.iterrows():
        if "-" in row[col]:
            df.at[index, col] = datetime.strptime(str(row[col]) + " " + str(row['Arrival Time']) + ":00", "%m-%d-%Y %H:%M:%S").strftime('%Y-%m-%d %H:%M:%S')
        else:
            df.at[index, col] = datetime.strptime(str(row[col]) + " " + str(row['Arrival Time']) + ":00", "%m/%d/%Y %H:%M:%S").strftime('%Y-%m-%d %H:%M:%S')
            
standardize_time_dataset(subset_data, 'Date (MM/DD/YYYY)')

In [73]:
subset_data.head()

,Date (MM/DD/YYYY),delay_class,Arrival Time,EWR,IAD,ORD,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2022-01-01 23:10:00,severely late,23:10,0,1,0,0,1,0,0,0,0
1,2023-01-01 14:58:00,on-time,14:58,0,0,0,0,0,1,0,0,0
2,2023-01-01 23:14:00,on-time,23:14,1,0,0,0,0,1,0,0,0
3,2023-01-01 23:57:00,on-time,23:57,0,0,1,0,0,1,0,0,0
4,2022-01-02 23:10:00,late,23:10,0,1,0,0,0,0,0,1,0

In [15]:
weather_data = pd.read_csv('./syrWeatherData/combined_csv.csv')
weather_data.head()

,wind_spd,temp,wind_dir,weather,precip,pres,vis,clouds,dewpt,rh,wind_gust_spd,datetime,timestamp_utc,timestamp_local
0,5.10,1.10,310,804,0.00,973.00,10,100,-0.70,88,5.80,2022-04-01 00:00:00,2022-04-01 00:00:00,2022-03-31 20:00:00
1,6.20,0.60,310,804,0.00,973.40,11,100,-1.20,88,7.20,2022-04-01 01:00:00,2022-04-01 01:00:00,2022-03-31 21:00:00
2,3.60,0.60,300,804,0.00,974.70,16,100,-1.20,88,3.90,2022-04-01 02:00:00,2022-04-01 02:00:00,2022-03-31 22:00:00
3,2.60,0.60,300,804,0.00,975.30,5,100,-0.70,91,2.80,2022-04-01 03:00:00,2022-04-01 03:00:00,2022-03-31 23:00:00
4,3.10,0.60,280,804,0.00,975.70,11,100,-0.70,91,3.30,2022-04-01 04:00:00,2022-04-01 04:00:00,2022-04-01 00:00:00

In [16]:
weather_data = weather_data.drop(columns = ['datetime', 'timestamp_utc'], axis = 1)
weather_data.head()

In [ ]:
def mergeWeather(df, wd_data, date_col):
    for index, row in df.iterrows():
        temp_date = datetime.strptime(row[date_col], '%Y-%m-%d %H:%M:%S')
        temp_dates = [temp_date - timedelta(hours=1), temp_date, temp_date + timedelta(hours=1)]
        find_dates = list(map(lambda x: x.strftime('%Y-%m-%d %H'), temp_dates))
        count = 0
        arr = []
        for index1, row1 in wd_data.iterrows():
            if count == 3:
                break
            w_date = datetime.strptime(row1['timestamp_local'], '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d %H')
            if w_date in find_dates:
                count += 1
                arr.append(row1)
        if len(arr) > 0:
            res = pd.DataFrame(arr).mean()
            df.at[index, 'wind_spd'] = res['wind_spd']
            df.at[index, 'temp'] = res['temp']
            df.at[index, 'wind_dir'] = res['wind_dir']
            df.at[index, 'weather'] = res['weather']
            df.at[index, 'precip'] = res['precip']
            df.at[index, 'pres'] = res['pres']
            df.at[index, 'vis'] = res['vis']
            df.at[index, 'clouds'] = res['clouds']
            df.at[index, 'dewpt'] = res['dewpt']
            df.at[index, 'rh'] = res['rh']
            df.at[index, 'wind_gust_spd'] = res['wind_gust_spd']
        else:
            print("NOT FOUND")
            print(find_dates)
            print(temp_date)
            break

# mergeWeather(subset_data, weather_data, 'Date (MM/DD/YYYY)')

In [ ]:
# Uncomment to save
# subset_data.to_csv('mega_data.csv', index=False)

In [89]:
test_data = pd.read_csv('project csv(Apr 21-24).csv')
test_data.head()

,Date,Day,Origin Airport,Flight Number,Arrival Time,"Status (Early, On-time, Late, Severly Late)"
0,4/21/2023,Friday,ORD,UA 3839,10:00 AM,NaN
1,4/21/2023,Friday,ORD,UA 3524,4:50 PM,NaN
2,4/21/2023,Friday,ORD,UA 538,9:34 PM,NaN
3,4/22/2023,Saturday,ORD,UA 3839,10:00 AM,NaN
4,4/22/2023,Saturday,ORD,UA 3524,4:50 PM,NaN

In [90]:
airport_dummies = pd.get_dummies(test_data['Origin Airport'], drop_first=True)

day_dummies = pd.get_dummies(test_data['Day'], drop_first=True)

test_data = pd.concat([test_data, airport_dummies, day_dummies], axis=1)

test_data = test_data.drop(['Origin Airport', 'Day', 'Status (Early, On-time, Late, Severly Late)', 
                     'Flight Number'], axis = 1)

In [91]:
test_data = test_data.dropna()

In [92]:
test_data.head()

        Date Arrival Time  EWR  IAD  ORD  Monday  Saturday  Sunday
0  4/21/2023     10:00 AM    0    0    1       0         0       0
1  4/21/2023      4:50 PM    0    0    1       0         0       0
2  4/21/2023      9:34 PM    0    0    1       0         0       0
3  4/22/2023     10:00 AM    0    0    1       0         1       0
4  4/22/2023      4:50 PM    0    0    1       0         1       0

In [93]:
test_data['Thursday'] = 0
test_data['Tuesday'] = 0
test_data['Wednesday'] = 0

In [94]:
def standardize_time_test(df, col):
    for index, row in df.iterrows():
        if "-" in row[col]:
            df.at[index, col] = datetime.strptime(str(row[col]) + " " + str(str(row['Arrival Time']).split(" ")[0]) + ":00", "%m-%d-%Y %H:%M:%S").strftime('%Y-%m-%d %H:%M:%S')
        else:
            df.at[index, col] = datetime.strptime(str(row[col]) + " " + str(str(row['Arrival Time']).split(" ")[0]) + ":00", "%m/%d/%Y %H:%M:%S").strftime('%Y-%m-%d %H:%M:%S')

In [95]:
standardize_time_test(test_data, 'Date')

In [96]:
test_data.head()

,Date,Arrival Time,EWR,IAD,ORD,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2023-04-21 10:00:00,10:00 AM,0,0,1,0,0,0,0,0,0
1,2023-04-21 04:50:00,4:50 PM,0,0,1,0,0,0,0,0,0
2,2023-04-21 09:34:00,9:34 PM,0,0,1,0,0,0,0,0,0
3,2023-04-22 10:00:00,10:00 AM,0,0,1,0,1,0,0,0,0
4,2023-04-22 04:50:00,4:50 PM,0,0,1,0,1,0,0,0,0

In [97]:
test_data.to_csv('to_predict.csv', index=False)

In [98]:
# test_output = pd.DataFrame(model.predict(test_data), index = test_data.index, columns = ['pred_arrival_delay'])
# test_output = test_output.merge(test_data, left_index = True, right_index = True)

In [99]:
to_predict = pd.read_csv('to_predict.csv')
to_predict.head()

,Date,Arrival Time,EWR,IAD,ORD,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2023-04-21 10:00:00,10:00 AM,0,0,1,0,0,0,0,0,0
1,2023-04-21 04:50:00,4:50 PM,0,0,1,0,0,0,0,0,0
2,2023-04-21 09:34:00,9:34 PM,0,0,1,0,0,0,0,0,0
3,2023-04-22 10:00:00,10:00 AM,0,0,1,0,1,0,0,0,0
4,2023-04-22 04:50:00,4:50 PM,0,0,1,0,1,0,0,0,0

In [100]:
forecast_data = pd.read_csv('forecast.csv')
forecast_data.head()

,wind_spd,temp,wind_dir,weather,precip,pres,vis,clouds,dewpt,rh,wind_gust_spd,datetime,timestamp_utc,timestamp_local
0,3.98,12.00,141,804,0.00,983.00,37.09,100,2.20,51,6.20,2023-04-20 04:00:00,2023-04-20 04:00:00,2023-04-20 00:00:00
1,3.58,13.20,137,804,0.00,982.00,33.98,81,4.10,54,6.20,2023-04-20 05:00:00,2023-04-20 05:00:00,2023-04-20 01:00:00
2,3.55,13.50,143,804,0.00,982.00,32.69,100,4.90,56,6.57,2023-04-20 06:00:00,2023-04-20 06:00:00,2023-04-20 02:00:00
3,2.89,14.10,142,804,0.00,982.00,30.69,100,6.20,59,5.96,2023-04-20 07:00:00,2023-04-20 07:00:00,2023-04-20 03:00:00
4,3.46,13.30,119,803,0.00,982.50,28.80,68,6.00,61,5.31,2023-04-20 08:00:00,2023-04-20 08:00:00,2023-04-20 04:00:00

In [101]:
mergeWeather(test_data, forecast_data, 'Date')

C:\Users\Ryan\AppData\Local\Temp\ipykernel_19404\127673818.py:16: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  res = pd.DataFrame(arr).mean()
C:\Users\Ryan\AppData\Local\Temp\ipykernel_19404\127673818.py:16: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  res = pd.DataFrame(arr).mean()

In [102]:
test_data.head()

,Date,Arrival Time,EWR,IAD,ORD,Monday,Saturday,Sunday,Thursday,Tuesday,...,temp,wind_dir,weather,precip,pres,vis,clouds,dewpt,rh,wind_gust_spd
0,2023-04-21 10:00:00,10:00 AM,0,0,1,0,0,0,0,0,...,10.17,261.00,804.00,0.00,983.33,26.79,100.00,4.30,67.33,3.82
1,2023-04-21 04:50:00,4:50 PM,0,0,1,0,0,0,0,0,...,10.80,283.00,804.00,0.19,982.50,15.96,100.00,8.50,85.67,10.31
2,2023-04-21 09:34:00,9:34 PM,0,0,1,0,0,0,0,0,...,9.50,272.67,804.00,0.00,983.33,21.53,100.00,5.43,76.00,5.15
3,2023-04-22 10:00:00,10:00 AM,0,0,1,0,1,0,0,0,...,6.93,271.33,803.00,0.06,977.00,24.13,56.67,1.23,67.33,7.12
4,2023-04-22 04:50:00,4:50 PM,0,0,1,0,1,0,0,0,...,7.40,307.33,803.33,0.06,975.67,24.06,71.67,5.17,85.67,7.73

In [103]:
test_data.to_csv('test_data_merged.csv', index=False)